
<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'><style>
h1 {text-align: center;}
h1 {font-size: 60px}
h1 {font-family:'Acme'}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

</style>
<body style="background-color:lightblue;">
<br>
<% if @days_until_birthday == 365 %>  
<h1 style="color:hotpink"> Happy Birthday <%= @name %>!!!! </h1>
<img src="https://cdn.pixabay.com/photo/2016/11/18/15/46/birthday-1835443_1280.jpg" class="center">
<% else %>
<br>
<h1 style="color:orange"> Nice to meet you <%= @name %>. It's <%= @days_until_birthday %> days until your Birthday! </h1>
<img src="https://cdn.pixabay.com/photo/2019/11/08/10/29/time-4610989_1280.jpg" class="center">
<% end %>
</body>






